*,
*::before,
*::after { 
  box-sizing: border-box;
}
.projects {
    background-color: var(--orangeLight);
    text-align: center;
    padding: 2rem;
    display: grid;
    grid-area: projects;
}

.projects__cards {
    display: flex;
    margin: auto;
    padding: 0;
}

.project__item {
    display: flex;
    padding: 1rem;
}

.project__card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.project__content {
    display: flex;
    flex: 1 1 1 auto;
    flex-direction: column;
    padding: 1rem;
}

.project__image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    width:350px;
    height: 250px;
    margin: auto;
}

.project__image1 {
    background-image: url("../images/hgraceocsite.png");
}

.project__title {
   
}

.project__desc {
    padding: 1rem;
}

@media (max-width: 800px) {
    .project__item3 {
      display: none;
    }
  }


