
.projects {
    background-color: var(--orangeLight);
    text-align: -webkit-center;
    display: grid;
    padding: 3rem;
    grid-area: projects;
    align-self: center;
    justify-content: center;
}

.skills {
    background-color: var(--orangeLight);
    text-align: -webkit-center;
    display: grid;
    padding: 3rem;
    margin: 1rem;
    grid-area: projects;
    align-self: center;
}

.projectOne {
    display: flex;
    min-height: 350px;
    background-color: var(--orangeMid);
    padding: 2rem;
    box-sizing: border-box;
    max-width: 80vw;
    max-height: 80%;
    border-color: var(--orangeLight);
    border-width: 5px;
    border-style: double;
    align-self: center;
}

@media screen and (max-width: 550px) {
    .projectOne {
      display: none;
    }
  }

.projectTwo {
    display: flex; 
    box-sizing: border-box;
    max-width: 80vw;
}

@media screen and (max-width: 370px) {
    .projectTwo {
        max-width: fit-content;
    }
  }

.projectOneImage {
    min-width: 50%;
    flex: 0 1 50%;
    box-sizing: border-box;
}

.projectImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projectImage2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectOneText {
    min-width: 50%;
    flex: 0 1 50%;
    padding: 1rem;
    margin: 1rem;
    align-self: center;
}

.electricLink {
    font-size: 1.5rem;
    color: var(--brown);
}

.projectTwoText {
    min-width: 50%;
    flex: 0 1 50%;
    padding: 1rem;
    margin-right: 1rem;
    align-self: center;
    background-color: var(--orangeLight);
}




