*, *:before, *:after {
    box-sizing: border-box;
  }

body {
    background-color: var(--orangeMid);
    width:100vw;
}

.contact-form {
    width: 50vw;
    height: 200px;
    background-color: orange;
}

.sunrise {
    padding: 2rem;
    text-align: end;
    display: grid;
    grid-area: sun;
    background-image: url('/images/sun.svg');
}

.sunrise__h1 {
    margin: 2rem;
}

.sunrise__h2 {
    margin: 2rem;
}

.yellow-orange {
    background-color: var(--yellowOrange);
    display: grid;
    grid-area: contact;
}

.yella {
    margin: auto;
}

.yella__text {
    background-color: var(--orangeLight);
    width: 400px;
    height: 300px;
    position: relative;
}


footer {
    background-color: var(--orangeLight);
    display: grid;
    grid-area: footer;
    padding: 3rem 0rem 2rem;
}


body {
    display: grid;
    grid-template-rows: 200px 400px 300px 600px 600px 400px 250px;
    grid-template-areas:
    'header'
    'sun'
    'fade'
    'projects'
    'yella'
    'fade2'
    'footer';
}

.fade {
    background-color: var(--yellowOrange);
    grid-area: fade;
    background: linear-gradient(-135deg, transparent 75%, var(--brownOrange) 75%),
    linear-gradient(135deg, transparent 75%, var(--orangeLight) 75%);
    background-size:  8em 8em, 8em 8em;
    background-repeat: round; 
}

.fade2 {
    background-color: var(--yellowOrange);
    grid-area: fade2;
    background: linear-gradient(-135deg, transparent 75%, var(--orangeLight) 75%),
    linear-gradient(135deg, transparent 75%, var(--cream) 75%);
    background-size:  8em 8em, 8em 8em;
    background-repeat: round; 
}

/* section - sunrise - orange mid 
/* section - projects - orange light
/* section - yellow orange
/* section contact form - background image with colour block on top 