@font-face{
    font-family: 'Ovo', serif;
    font-weight: normal;
    src:url("/fonts/Ovo/Ovo-Regular.ttf") format("truetype");
}

@font-face{
    font-family:'Quattrocento Sans', sans-serif;
    font-weight: normal;
    src: url("/fonts/QuattrocentoSans/QuattrocentoSans-Regular.ttf") format("truetype");
}

@font-face{
    font-family:'Goudy', serif;
    font-weight: normal;
    src: url("/fonts/Goudy/GoudyBookletter1911.ttf") format("truetype");
}

:root {
    --orangeLight:rgb(252, 188, 132);
    --orangeMid:rgb(247, 167, 110) ;
    --brownOrange:rgb(214, 153, 109);
    --brownOrange2:rgb(170, 116, 77);
    --yellowOrange:rgb(223, 171, 82);
    --cream: rgb(253, 242, 223);
    --brown: rgb(102, 82, 42);
}

:root {
    --p-font:'Quattrocento Sans', sans-serif;
}

body {
    background-color:var(--orangeMid);
    font-family: 'Ovo', serif;
}